@using Hairr.Models
@model IEnumerable<dynamic>

   

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Test.cshtml";
}

<div class="container mt-4">
    <div class="text-center mb-4">
        <h2 class="text-center" style="font-weight: bold; color: #d4ac0d; text-shadow: 2px 2px #aaa;">Hoşgeldin, @User.Identity.Name!</h2>
        <p class="text-muted">Sistemimize hoş geldiniz.</p>
    </div>
</div>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>İşlem</th>
            <th>Süre</th>
            <th>Ücret</th>
            <th>Personellerimiz</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.ID</td>
                <td>@x.IslemAdi</td>
                <td>@x.Time dk</td>
                <td>@x.Price ₺</td>

                <td>
                    <a href="/Man/PersonelDetay/@x.ID"
                       class="btn btn-primary"
                       style="background-color: #d4ac0d; color: black; border-color: #b38b00;">
                        Detay
                    </a>
                </td>
              
            </tr>
        }
    </tbody>
</table>
