@using Hairr.Models
@model List<Personel>
@{
    ViewData["Title"] = "PersonelDetay";
    Layout = "~/Views/Shared/Test.cshtml";
}



<br />

<h2>
    @ViewBag.brm Personelleri
</h2>

<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Sehir</th>

    </tr>

    @foreach (var x in Model)
    {

        <tr>
            <td>@x.PersonelId</td>
            <td>@x.Ad</td>
            <td>@x.Soyad</td>
            <td>@x.Sehir</td>

        </tr>
    }
</table>