@model IEnumerable<Hairr.Models.Appointment>

@{
    ViewData["Title"] = "Randevularım";
    Layout = "~/Views/Shared/Test.cshtml";
}

<!-- Başlık Metnini Ortalamak ve Stil Vermek -->
<h1 class="text-center" style="font-weight: bold; color: #d4ac0d; text-shadow: 2px 2px #aaa;">
    Randevularım
</h1>

<table class="table table-bordered">
    <thead>
        <tr>
 
            <th>İşlem</th>
            <th>Süre</th>
            <th>Ücret</th>
            <th>Personel</th>
            <th>Randevu Tarihi</th>
            <th>Durum</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var randevu in Model)
        {
            <tr>
          
                <td>@randevu.Islem?.IslemAdi</td>
                <td>@randevu.Islem?.Time dk</td>
                <td>@randevu.Islem?.Price ₺</td>
                <td>@randevu.Personel?.Ad @randevu.Personel?.Soyad</td>
                <td>@randevu.AppointmentDate.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@randevu.Status</td>
            </tr>
        }
    </tbody>
</table>
