@model IEnumerable<Hairr.Models.Appointment>
@{
    ViewData["Title"] = "ApproveAppointments";
    Layout = "~/Views/Shared/Admin.cshtml";
}


<h2>@ViewData["Title"]</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Müşteri Adı</th>
            <th>Hizmet</th>
            <th>Personel</th>
            <th>Tarih</th>
            <th>Durum</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var randevu in Model)
        {
            <tr>
                <td>@randevu.CustomerName</td>
                <td>@randevu.Islem.IslemAdi</td>
                <td>@randevu.Personel.Ad @randevu.Personel.Soyad</td>
                <td>@randevu.AppointmentDate.ToString("dd.MM.yyyy HH:mm")</td>
                <td>@randevu.Status</td>
                <td>
                    <a asp-action="Onayla" asp-route-id="@randevu.ID" class="btn btn-success btn-sm">Onayla</a>
                    <a asp-action="Reddet" asp-route-id="@randevu.ID" class="btn btn-danger btn-sm">Reddet</a>
                </td>
            </tr>
        }
    </tbody>
</table>